.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../assets/detalhe.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.introducao p {
  font-size: 1rem;
  color: #525252;
  line-height: 2rem;
}

#hc {
  text-decoration: none;
  color: white;
}

/* #nome {
  font-family: "Fira Sans", Arial, sans-serif;
  font-size: 3rem;
  color: #141414;
  font-weight: 600;
  margin-bottom: 30px;
  color: #800add;
} */

/* background-image: linear-gradient(to bottom, #141414, #800add); */

/* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
/* background-clip: text; */

/* Alguns navegadores precisam do prefixo */
/* -webkit-background-clip: text; */

/* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
/* -webkit-text-fill-color: transparent; */

/* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
/* color: black; */

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}
